<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- WordPress blog rules -->
                <rule name="WordPress Blog" stopProcessing="true">
                    <match url="^blog/.*" />
                    <action type="Rewrite" url="blog/index.php" />
                </rule>

                <!-- Astro SPA routing -->
                <rule name="Astro SPA Routes" stopProcessing="true">
                    <match url="^(?!blog/).*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment=".env" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <handlers>
            <add name="PHP-FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v8.1\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>