<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- WordPress blog rules -->
                <rule name="WordPress Blog" stopProcessing="true">
                    <match url="^blog/.*" />
                    <action type="None" />
                </rule>

                <!-- Astro SPA routing -->
                <rule name="Astro SPA Routes" stopProcessing="true">
                    <match url="^(?!blog/).*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>